@model GBCSporting2021_CtrlStacks.Models.Technician
@{
    ViewData["Title"] = "Technician Details";
    var model = Model;
}
<h2>Technician Details</h2>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <div class="list-group-item">
                <p class="row">
                    <span class="col-md-2">Name:</span>
                    <span class="col-md-10">@Model.Name</span>
                </p>
            </div>
            <div class="list-group-item">
                <p class="row">
                    <span class="col-md-2">Email:</span>
                    <span class="col-md-10">@Model.Email</span>
                </p>
            </div>
            <div class="list-group-item">
                <p class="row">
                    <span class="col-md-2">Phone:</span>
                    <span class="col-md-10">@Model.Phone</span>
                </p>
            </div>
        </div>
        <div class="mt-2 d-md-flex justify-content-md-end">
            <a asp-controller="technician" asp-action="list" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>