@{
    ViewData["Title"] = "About Us";
}
<div class="row" id="aboutUs">
    <div class="col-md-12 justify-content-center">
        <div class="jumbotron text-white bg-gray">
            <h2 class="display-4">About</h2>
            <p class="lead">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
        </div>
    </div>
</div>
